#segment {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

#list {
    width: 50%;
    padding-right: 1.5rem;
}

#map {
    width: 50%;
    padding-left: 1.5rem;
}

@media (min-width: 2500px) {
    .item {
        font-size: 220%;
    }
}

@media (max-width: 600px) {
    #segment {
        display: block;
    }

    #list {
        width: 100%;
        padding-right: 0;
    }

    #map {
        width: 100%;
        padding-left: 0;
    }
}